#registration-new {
  .logo {
    padding-top: 30px;
    width: 100%;
  }
  .title {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    width: 100%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 0;
  }
  .form_container {
    width: 100%;
  }
  form {
    width: 40%;
  }
  form button {
    width: 100%;
    background-color: #0a66c2 !important;
    border-radius: 20px !important;
    border-color: #0a66c2 !important;
    height: 52px !important;
    font-weight: 600 !important;
  }

  form button:hover {
    background-color: black !important;
  }
  form input {
    border-radius: 2px !important;
    height: 52px !important;
    border: 1px solid rgba(0, 0, 0, 0.6) !important;
    width: 100%;
  }
  .sign_in
  {
    padding-top:25px;
    width:100%;
    font-family: "Roboto", sans-serif;
  }
  .sign_in a
  {
    text-decoration: none;
    color: #0a66c2;
    font-weight: 600;
  }
}